*.css linguist-detectable=false
*.scss linguist-detectable=false
backend-node/public/assets/* external linguist-vendored
backend-node/public/js/jquery.js external linguist-vendored
backend-node/public/css/bootstrap.min.css external linguist-vendored
