*.css linguist-detectable=false
*.scss linguist-detectable=false
frontend/assets/* external linguist-vendored
frontend/js/jquery.js external linguist-vendored
frontend/css/bootstrap.min.css external linguist-vendored

